@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  :root {
    --color-text: #fefdfc;
    --color-background: #24221e;
    --color-primary: #f0e3ca;
    --color-secondary: #ff7218;
    --color-accent: #ffa43c;
  }
  html {
    font-family: 'Josenfin Sans', sans-serif;
  }
}